# Server Configuration
PORT=8080

# Scalekit Configuration
SCALEKIT_ENVIRONMENT_URL=
SCALEKIT_CLIENT_ID=
SCALEKIT_CLIENT_SECRET=

# Database Configuration (Local PostgreSQL)
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/coffeedesk?sslmode=disable